body,
html {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.card {
  min-width: 100%;
  width: 1000px;
  position: relative;

  margin: auto 100px auto 100px;

  padding: 0px 0px;
  border: 1px solid #56a0ee;
  border-radius: 40px;
  box-shadow: -2px -3px 16px hsl(0deg 0% 0% / 0.25);
}
h1 {
  position: relative;
  left: 280px;
  top: 150px;
}
.code-source {
  position: relative;
  left: 200px;
  top: 700px;

  font-size: 13px;
}
.gitHublink {
  text-decoration: none;
}
.card-body {
  width: 50%;
  min-width: 1000px;
  margin: auto;
  position: relative;
  top: -150px;
  right: 100px;
}

h2 {
  position: relative;
  left: 290px;
  top: 150px;
  font-size: 25px;
}
h3 {
  position: relative;
  right: -290px;
  top: 190px;
  font-size: 15px;
  text-transform: capitalize;
}
form {
  position: relative;

  padding: 0 280px;
  right: 800px;
  bottom: -90px;
}

#city-search {
  width: 300px;
  padding: 5px 10px;
}
#search-button {
  height: 38px;
  width: 100px;
}
.currentTemp {
  position: relative;
  right: -290px;
  top: 100px;
  font-size: 45px;
}
#celcius {
  font-size: large;
}

.measurements {
  font-size: 15px;
  position: relative;
  bottom: 5px;
}

#currentWeatherIcon {
  position: relative;
  left: 275px;
  top: 120px;
  height: 100px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 90px;
  left: 300px;
  bottom: 100px;
}
.otherInfo {
  position: relative;
  left: 800px;
  top: -50px;
}
.row {
  position: relative;
  bottom: -50px;
  left: 250px;
}
.nextDaysForecast {
  width: 100%;
  min-width: 1050px;
  position: relative;
  right: 850px;
  bottom: -70px;
}

.card-title {
  text-align: center;
}

.container1 {
  margin-left: auto;
  margin-right: auto;
}
#location {
  position: relative;
  right: 100px;
  bottom: -65px;
  border-radius: none;
  border: none;
  background: none;
  text-decoration: underline;
}
#location:hover {
  color: blue;
}
